{% extends 'base.html' %}


{% block contenu %}

<h1>Formulaire pour creer un nouveau client</h1>
<br>

<h2>Tapez les donnees du nouveau client et apres cliquez sur sauvegarder </h2>
<br>

<form action="/creer_client" method="post">


        <input type="text" name="nom" placeholder="nom">
        <input type="text" name="prenom" placeholder="prenom">
        <input type="text" name="courriel" placeholder="courriel">
        <input type="submit" value="Sauvegarder">
    </form>

<br>



<a href="/logout">Déconnexion</a>



{% endblock %}
