{% extends 'base.html' %}


{% block contenu %}


<h1>Vous etes connecte comme administrateur</h1>
    <h2>Liste de Clients</h2>

<br>

 <h2>Liste des clients</h2>
<table border="1">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Courriel</th>
    </tr>
    {% for client in clients %}
    <tr>
        <td>{{ client.nom }}</td>
        <td>{{ client.prenom }}</td>
        <td>{{ client.courriel }}</td>
    </tr>
    {% endfor %}
</table>
<br>


<br>

<h2>Liste de Films</h2>

<table border="1">
    <tr>
        <th>Nom</th>
        <th>Duree</th>
        <th>Categorie</th>
    </tr>
    {% for film in films %}
    <tr>
        <td class="film" data-actors="{{ ', '.join(film.acteurs) }}">{{ film.nom }}</td>
        <td>{{ film.duree }}</td>
        <td>{{ film.categorie }}</td>


    </tr>

    {% endfor %}
</table>

<!--Fonctionne pour  afficher les acteurs des films quand la personne met la souris sur le nom film-->

<script>

    var filmElements = document.querySelectorAll('.film');
    filmElements.forEach(function(element) {
        element.addEventListener('mouseover', function(event) {
            var actors = event.target.getAttribute('data-actors');
            event.target.setAttribute('title', 'Acteurs: ' + actors);
        });
    });
</script>


<!--Bouton de deconnexion -->

<br>

    <a href="/logout">Déconnexion</a>
<br>



{% endblock %}